<header class="hero-unit" id="banner">
  <div class="container home">
    <h1>Starter Boilerplate</h1>
    <p>Build your MEAN application today!</p>
    <h2>How to make it yours</h2>
    <ol class="center">
      <li>Install MongoDB, Express, Node.js and git on your machine</li>
      <li>Run "git clone https://github.com/NicolaFerracin/starter-boilerplate"</li>
      <li>Start the server with "node server.js" *TIP*: install nodemon to make the server restart automatically with any code change</li>
      <li>Open your browser and go [here](http://localhost:8080) to see it live</li>
      <li>Edit the files, save, restart the server and make it yours!</li>
    </ol>
  </div>
</header>
